<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="apple-touch-icon" sizes="76x76" href="/images/icon-76.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/images/icon-120.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/images/icon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/icon-180.png">
	<title>Salesforce IDPP Demo</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
	 crossorigin="anonymous">
	 <link href="/css/styles_common.css" rel="stylesheet" type="text/css" />
	 {{#if branding1}}
	<link href="/css/styles_branding1.css" rel="stylesheet" type="text/css" />
	{{else}}
	<link href="/css/styles_branding2.css" rel="stylesheet" type="text/css" />
	{{/if}}
</head>

<body>

	<script src="//code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/index.js"></script>

	<nav class="navbar navbar-expand-md navbar-dark branding-bg fixed-top">
		<span class="fa fa-sync fa-2x ideas-icon-color" aria-hidden="true">&nbsp;</span>
		<span class="d-none d-lg-block d-md-block">
			<a class="navbar-brand" href="#">Salesforce IDPP Demo</a>
		</span>
		<span class="d-sm-block d-md-none">
			<a class="navbar-brand" href="#">Salesforce IDPP Demo</a>
		</span>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
		 aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				{{#if showMenu}}
				<li class="nav-item {{home_active}}">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item {{ideas_active}}">
					<a href="/ideas" class="nav-link">Ideas</a>
				</li>
				<li class="nav-item {{about_active}}">
					<a href="/about" class="nav-link">About</a>
				</li>
				<li class="nav-item {{logout_active}}">
					<a href="/logout" class="nav-link">Logout</a>
				</li>
			 	{{/if}}
			</ul>
		</div>

	</nav>

	<div class="container-fluid ">
		{{#if showMenu}}
		<span class="clearfix">
			<i class="float-left">Updated: {{updated_timedate}}</i>
			<a href="" class="float-right color-black"><i class="fa fa-redo fa-2x" aria-hidden="true"></i></a>
		</span>
		{{#if showMenu}}
		{{{body}}}
	</div>
	
</body>

</html>