<div class="row">
    {{#each ideas}}
    <div class="col-lg-2 col-md-3 col-sm-4 idea">
        <div class="name">{{this.name}}</div>
        <div class="data">Account no.: {{this.accountnumber}}</div>
        <div class="data">Website: {{this.website}}</div>
        <div class="data">Type: {{this.type}}</div>
        <div class="data">Ticker: {{this.tickersymbol}}</div>
    </div>
    {{/each}}    
</div>
